-if current_user?(@user)
  .row.user-page
    .user_pages.col-md-6.col-xs-12
      %h1 Мои страницы
      - if @user.pages.any?
        - @user.pages.each do |page|
          .one-page
            %h2
              = link_to page.title, user_page_path(@user, page)
            = link_to ' изменить', edit_page_path(page), class: "btn btn-default fa fa-edit icon-large"
            = link_to '', user_page_path(@user, page), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash-o icon-large"
            %hr
      - else
        %h1 У вас еще нет страниц. 
        %h1
          = link_to 'Создать!', new_page_path
    .user_favorites.col-md-6.col-xs-12
      %h1 Избранное
      - if @user.favorites.any?
        .user_pages
          - @user.favorite_pages.each do |page|
            .one-page
              %h2
                = link_to page.title, user_page_path(page.user, page)
              = link_to '', delete_favorite_path(current_user.id, page.id), method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger fa fa-trash-o icon-large"
              %hr
      - else
        %h1 Вы еще не добавили ни одной страницы в Избранное. 
-else
  %h1 
    = @user.username
  - if @user.pages.any?
    .user_pages
      - @user.pages.each do |page|
        .one-page
          %h2
            = link_to page.title, user_page_path(@user, page)
          %hr
  - else
    %h1 У пользователя еще нет страниц. 