= content_for(:title, "Страница пользователя #{@user&.username} | shpora.me")

- if current_user?(@user)
  .row.user-page
    .user_pages.col-md-6.col-xs-12
      %h1 Мои страницы
      %hr
      - if @user.pages.any?
        - @user.pages.each do |page|
          .one-page
            %h2
              = link_to page.title, user_page_path(@user, page)
            = link_to I18n.t('labels.edit'), edit_user_page_path(page.user, page), class: "btn btn-default fa fa-edit icon-large", data: { turbolinks: false }
            = link_to I18n.t('labels.delete'), user_page_path(@user, page), method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger fa fa-trash-o icon-large"
            %hr
      - else
        %h1
          = I18n.t 'messages.you_have_no_pages'
        %h1
          = link_to 'Создать!', new_page_path, data: { turbolinks: false }
    .user_favorites.col-md-6.col-xs-12
      %h1 Избранное
      %hr
      - if @user.favorites.any?
        .user_pages
          - @user.favorite_pages.each do |page|
            .one-page
              %h2
                = link_to page.title, user_page_path(page.user, page)
              = link_to I18n.t('labels.delete'), delete_favorite_path(current_user.id, page.id), method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger fa fa-trash-o icon-large"
              %hr
      - else
        %h1
          = t('messages.no_favorites')
- else
  .row.user-page
    .user_pages.col-md-6.col-xs-12
      %h1.lobster
        = '-' + @user.username
      %h1
        Добавленные страницы
      - if @user.pages.any?
        .user_pages
          - @user.pages.each do |page|
            .one-page
              %h2
                = link_to page.title, user_page_path(@user, page)
              %hr
      - else
        %h1 У пользователя еще нет страниц.
    .user_favorites.col-md-6.col-xs-12
      %h1 Избранное
      - if @user.favorites.any?
        .user_pages
          - @user.favorite_pages.each do |page|
            .one-page
              %h2
                = link_to page.title, user_page_path(page.user, page)
              %hr
      - else
        %h1 Пользователь еще не добавил ни одной страницы в Избранное.
