%header
  = link_to 'shpora.me', root_path
  ультралегкая мобильная версия
%nav
  - if user_signed_in?
    %ul
      %li= link_to 'Новая страница', new_page_path(@page)
      %li= link_to 'Профиль ' + current_user.username, user_path(current_user)
      %li= link_to 'Выход', destroy_user_session_path, method: :delete
  - else
    = link_to 'Зарегистрироваться', new_user_registration_path   