= content_for(:title, "Страница пользователя #{@user.username} | shpora.me")
-if current_user?(@user)
  .user-page
    .user_pages
      %h1 Мои страницы
      - if @user.pages.any?
        - @user.pages.each do |page|
          .one-page
            %h2
              = link_to page.title, user_page_path(@user, page)
            = link_to ' изменить', edit_page_path(page)
            = link_to 'удалить', user_page_path(@user, page), method: :delete, data: { confirm: 'Are you sure?' }
            %hr
      - else
        %h1 У вас еще нет страниц.
        %h1
          = link_to 'Создать!', new_page_path, data: { turbolinks: false }
    .user_favorites
      %h1 Избранное
      - if @user.favorites.any?
        .user_pages
          - @user.favorite_pages.each do |page|
            .one-page
              %h2
                = link_to page.title, user_page_path(page.user, page)
              = link_to '', delete_favorite_path(current_user.id, page.id), method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger fa fa-trash-o icon-large"
              %hr
      - else
        %h1
          = t('messages.no_favorites')
-else
  .user-page
    .user_pages
      %h1
        = @user.username
      %h1
        Добавленные страницы
      - if @user.pages.any?
        .user_pages
          - @user.pages.each do |page|
            .one-page
              %h2
                = link_to page.title, user_page_path(@user, page)
              %hr
      - else
        %h1 У пользователя еще нет страниц.
    .user_favorites
      %h1 Избранное
      - if @user.favorites.any?
        .user_pages
          - @user.favorite_pages.each do |page|
            .one-page
              %h2
                = link_to page.title, user_page_path(page.user, page)
              %hr
      - else
        %h1 Пользователь еще не добавил ни одной страницы в Избранное.
