= form_for @page do |f|
  - if @page.errors.any?
    #error_explanation
      %h2
        = pluralize(@page.errors.count, "error")
        prohibited
        this page from being saved:
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.hidden_field :user_id, value: current_user.id
    %br
    = f.text_field :title, class: 'form-control', placeholder: "Заголовок"

  %p
    = f.text_area :content, class: 'form-control ckeditor', rows: 10

  %p
    = f.label :url
    %br
    .input-group
      %span.input-group-addon
        = "shpora.me/" + current_user.username + "/"
      = f.text_field :url, class: 'form-control'
  %p
    = f.label :tags
    %br
    = f.text_field :tag_list, class: 'form-control tagsinput'
    %br
    = f.submit "Готово", class: 'btn btn-default'
