.title
  %h1 
    = @page.title
    = link_to '-' + @user.username, user_path(@user.username)
  - if current_user != @user && user_signed_in?
    - if current_user.favorites.find_by_page_id(@page.id)
      %i.fa.fa-star.favorite#make-favorite{ data: {:page_id => @page.id, :user_username => current_user.username} } 
        %span 
          = " " + "Добавлено в избранное"
    - else
      %i.fa.fa-star.unfavorite#make-favorite{ data: {:page_id => @page.id, :user_username => current_user.username} }
        %span 
          = " " + "В избранное!"
= raw @page.content