.title
  = content_for(:title, 'Шпаргалка ' + @page.title + ' | shpora.me')
  - unless user_signed_in?
    .introduction
      .presentation.mini-images
        = image_tag('/shpora-step-1.png', class: 'presentation-image editor');
        = image_tag('/iphone.png', class: 'presentation-image iphone');
        = image_tag('/macbook.png', class: 'presentation-image macbook');
      shpora.me - незаменимый помощник для студентов и школьников, который позволяет быстро создавать и получать доступ к шпаргалкам или другим заметкам с любых устройств. В любое время. Абсолютно бесплатно.
      = link_to 'Зарегистрироватся', new_user_registration_path
      |
      = link_to 'Войти', new_user_session_path
  %h1
    = @page.title
    - if current_user == @user 
      = link_to '', edit_user_page_path(@page.user, @page), class: "btn fa fa-edit"
    - else
      = link_to '-' + @user.username, user_path(@user.username)
  - if current_user != @user && user_signed_in?
    - if current_user.favorites.find_by_page_id(@page.id)
      %i.fa.fa-star.favorite#make-favorite{ data: {:page_id => @page.id, :user_username => current_user.username} } 
        %span 
          = " " + "Добавлено в избранное"
    - else
      %i.fa.fa-star.unfavorite#make-favorite{ data: {:page_id => @page.id, :user_username => current_user.username} }
        %span 
          = " " + "В избранное!"
  - if @page.tag_list
    .tags
      - @page.tag_list.each do |tag|
        %h2
          = link_to "##{ tag }", tag_path(tag)
.content
  = raw @page.content