= content_for(:title, 'Users | shpora.me')

%h1 Users

= render 'admin/tabs'
%hr
= search_form_for User.search(params[:q]), url: search_admin_users_path, class: 'search-form', method: :get do |f|
  = f.search_field :username_or_email_cont, placeholder: I18n.t('labels.search'), class: 'form-control'
  ._m-t-md= f.submit I18n.t('labels.search'), class: 'btn btn-info'
%hr
.alert.alert-danger
  Pls.! Coordinate before start doing that!
  %p
    = link_to 'Send news about money earning to all users', news_admin_users_path, class: 'btn btn-danger'
%table.table.table-hover.table-stripped
  %tbody
    - @users.each do |user|
      %tr
        %td
          %strong= link_to user.username, admin_user_path(user)
          %br
          = user.email
        %td= user.created_at.to_s(:long)
        %td= user.provider
        %td.small
          - if current_user != user
            = link_to relogin_admin_user_path(user), title: 'Relogin' do
              %i.fa.fa-user-secret
            = link_to earn_money_news_admin_user_path(user) do
              %i.fa.fa-paper-plane
            = link_to admin_user_path(user), method: :delete do
              %i.fa.fa-trash
  %hr
= will_paginate @users
