.file-upload
  = hidden_field_tag :aws_url, upload_form.url
  = hidden_field_tag :aws_data, upload_form.fields.to_json

  .input-field.hidden_fields
    = file_field_tag :upload_files, multiple: true, name: 'upload_files[]', data: { username: default_user.username }
  #upload-preview
    .upload-cover
      #uploader-zone
        .uploader-text
          .desktop
            %i.fa.fa-cloud-upload.fa-4x.m-b-lg
            %h2.font-bold
              = t('messages.move_your_files_here')
            %small.text-muted
              = t('messages.dropzone_description')
            %p.support
              = t('messages.supported_filetypes')
          .mobile
            %i.fa.fa-camera.fa-4x.m-b-lg
      #uploader-start.uploader-status._hidden
        %span.fa.fa-cloud-upload.fa-4x._m-b-lg._m-t-xl
        %p.text-muted Загрузка...
        %p
          %span.text-danger.font-bold 0%
          %span.text-muted завершено
      #uploader-done._hidden.uploader-status
        %i.fa.fa-check.fa-5x._m-t-xl
        %p.lead.text-success Загрузка завершена
        //%p= link_to 'Перейти к просмотру файлов', user_path(current_user)
      #uploader-fail._hidden.uploader-status
        %i.fa.fa-times.fa-5x._m-t-xl
        %p.lead.text-danger Ошибка
