%header
  //%nav.navbar-fixed-top
  .fixed-nav
    .nav-bar
      .btn.nav-slider
        %i.icon-reorder
      = link_to 'shpora.me', root_path, class: "nav-brand"
      - if controller_name == 'home'
        .share
          share it!
      -else
        .btn.close-nav
          %i#lock-unlock.icon-lock
    %nav.navigation
      - if user_signed_in?
        %ul
          %li= link_to '', new_page_path(@page), class: "icon-plus", :title => "Новая страница"
          %li= link_to current_user.username, user_path(current_user), :title => "Профиль"
          %li= link_to '', destroy_user_session_path, :method => :delete, class: "icon-signout", :title => "Выход"
      - else
        %ul
          %li= link_to 'login', new_user_session_path
          %li= link_to 'register', new_user_registration_path   