%header
  //%nav.navbar-fixed-top
  .fixed-nav
    .nav-bar
      .btn.nav-slider
        %i.fa.fa-bars
      = link_to 'shpora.me', root_path, class: "nav-brand"
      - unless controller_name == 'home'
        .btn.close-nav
          %i#lock-unlock.fa.fa-lock
    %nav.navigation
      - if user_signed_in?
        %ul
          %li= link_to '', new_page_path(@page), class: "fa fa-plus", title: "Новая страница"
          %li= link_to current_user.username, user_path(current_user), title: "Профиль"
          %li= link_to '', destroy_user_session_path, method: :delete, class: "fa fa-sign-out", title: "Выход"
      - else
        %ul
          %li= link_to 'Войти', new_user_session_path
          %li= link_to 'Зарегистрироваться', new_user_registration_path   
