!!!
%html
  %head
    %title Shpora.me - твоя электронная шпаргалка
    %link{href: "http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic", rel: "stylesheet", type: "text/css"}/
    %script{src: "//vk.com/js/api/openapi.js?105", type: "text/javascript"}
    :javascript
      VK.init({apiId: 4014548, onlyWidgets: true});
    = csrf_meta_tags
    %meta{content: "443b66161fbe60fb", name: "yandex-verification"}/
    %meta{content: "shpora.me - это сервис для создания шпаргалок и других заметок с произвольным содержанием, доступных для любых мобильных и стационарных устройств.", name: "description"}/
    %meta{content: "Шпаргалка, электронная шпаргалка, шпора, шпаргалки бесплатно, онлайн шпаргалка, мобильная шпаргалка", name: "keywords"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport", "user-scalable" => "no"}/
    %meta{name: "turbolinks-cache-control", content: "no-cache"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    = render 'layouts/header'
    .wrapper.col-xs-12.col-sm-12.col-md-12
      .home-page.center
        - if user_signed_in?
          .row.first-row
            .recent-user-pages.col-md-4.col-xs-12
              .block
                %h1
                  Мои
                  %a{href: user_path(current_user)} страницы
                -if current_user.pages.any?
                  - @recent_user_pages.each do |page|
                    .one-page
                      %h3
                        = link_to page.title, user_page_path(current_user, page)
                - else
                  %h2 У вас еще нет страниц.
                  %h2
                    = link_to 'Создать!', new_page_path
              .torn-page.torn-page-left
            .recent-favorites.col-md-offset-1.col-md-4.col-xs-12
              .block
                %h1
                  %a{href: favorites_path(current_user)} Избранное
                - if current_user.favorites.any?
                  - current_user.favorite_pages.each do |page|
                    .one-page
                      %h3
                        = link_to page.title, user_page_path(page.user, page)
                - else
                  %h2 Вы еще не добавили ни одной страницы в Избранное.
              .torn-page.torn-page-middle
            .recent-pages.col-md-4.col-xs-12
              .block
                %h1
                  5-ка
                  %a{href: pages_path} последних
                - @recent_pages.each do |page|
                  .one-page
                    %h3
                      = link_to page.title, user_page_path(page.user, page)
              .torn-page.torn-page-right
        - else
          .row.first-row
            .auth.col-md-4.col-xs-12
              %h1 Вход
              = render 'layouts/auth'
              .torn-page.torn-page-left
            .registration.col-md-offset-1.col-md-4.col-xs-12
              %h1 Регистрация
              = render 'layouts/test_sign_up'
              = render 'layouts/registration'
              .torn-page.torn-page-middle
            .recent-pages.col-md-4.col-xs-12
              %h1
                5-ка
                %a{href: pages_path} последних
              - @recent_pages.each do |page|
                .one-page
                  %h3
                    = link_to page.title, user_page_path(page.user, page)
              .torn-page.torn-page-right
        /
          %hr
          = render 'layouts/shares'
          %hr

        .file-upload
          = hidden_field_tag :aws_url, upload_form.url
          = hidden_field_tag :aws_data, upload_form.fields.to_json
          = file_field_tag :content

          = form_for Page.new, url: pages_path, id: 'new_document' do |f|
            = f.hidden_field :content_key
            = f.hidden_field :content_processed
            = f.hidden_field :title
            = f.hidden_field :url
            = f.hidden_field :user_id, value: current_user.id
            #upload-preview
              .upload-cover
                #uploader-zone
                  .uploader-text
                    .desktop
                      %i.fa.fa-cloud-upload.fa-4x.m-b-lg
                      %p.h3.font-bold Переместите файл сюда
                      %small.text-muted Есть много рефератов? Получай вплоть до 50 центов за каждый загруженный на сайт .docx файл с публичным доступом. Или сохрани их бесплатно в приватном режиме. Все документы будут доступны для просмотра/скачивания на личной странице
                      %p.support поддерживаемые типы файлов: doc docx pdf
                    .mobile
                      %i.fa.fa-camera.fa-4x.m-b-lg
                #uploader-start.uploader-status._hidden
                  %span.fa.fa-cloud-upload.fa-4x._m-b-lg._m-t-xl
                  %p.text-muted Загрузка ...
                  %p
                    %span.text-danger.font-bold 0%
                    %span.text-muted завершено
                #uploader-done._hidden.uploader-status
                  %i.fa.fa-check.fa-5x._m-t-xl
                  %p.lead.text-success Загрузка завершена
                  = f.submit 'Сохранить', class: 'btn btn-success'
                #uploader-fail._hidden.uploader-status
                  %i.fa.fa-times.fa-5x._m-t-xl
                  %p.lead.text-danger Ошибка

        .presentation.images
          = image_tag('/shpora-step-1.png', class: 'presentation-image editor');
          = image_tag('/iphone.png', class: 'presentation-image iphone');
          = image_tag('/macbook.png', class: 'presentation-image macbook');
        %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
        <!— shpora —>
        %ins.adsbygoogle{"data-ad-client" => "ca-pub-3834340625723750", "data-ad-format" => "auto", "data-ad-slot" => "7858822824", :style => "display:block"}
        :javascript
          (adsbygoogle = window.adsbygoogle || []).push({});
        .bottom
          .hr-wrapper
            %hr
            %hr
            %hr
            %hr
            %hr
            %hr
            %hr
            %hr
          .row.description-row
            .description.first-description.col-md-4.col-xs-12
              shpora.me - это сервис для создания и поиска шпаргалок и других заметок с произвольным содержанием, доступных для любых мобильных и стационарных устройств.
              .shpora-count
                %h3.number
                  Шпаргалок на сайте:
                %h1.number
                  = Page.count
            .description.col-md-4.col-xs-12
              Чтобы открыть созданную ранее страницу, не обязательно входить в систему, достаточно ввести в адресной строке браузера адрес, который состоит из имени пользователя и краткого названия, придуманного пользователем. Например:
              %h2
                = link_to 'shpora.me/admin/tf', 'http://shpora.me/admin/tf'
            .description.col-md-4.col-xs-12
              Делитесь своими шпаргалками и добавляйте в избранные чужие. Сайт оптимизирован под мобильные телефоны с различным разрешением экрана и планшеты. Для удобства и экономии траффика есть ультралегкая версия -
              %h2
                = link_to 'm.shpora.me', 'http://m.shpora.me'
          //%hr .image
          .presentation.dotted-border
            = render 'layouts/tag_cloud'
            //= image_tag('http://img34.imageshack.us/img34/429/c4nf.png')
          =render 'layouts/footer'
    = render 'modals/menu'
