!!!
%html
  %head
    %title Shpora.me - твоя электронная шпаргалка
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    %link{href: "http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic", rel: "stylesheet", type: "text/css"}/
    
    %script{src: "//vk.com/js/api/openapi.js?105", type: "text/javascript"}
    :javascript
      VK.init({apiId: 4014548, onlyWidgets: true});
    = csrf_meta_tags
    %meta{content: "443b66161fbe60fb", name: "yandex-verification"}/
    %meta{content: "shpora.me - это сервис для создания шпаргалок и других заметок с произвольным содержанием, доступных для любых мобильных и стационарных устройств.", name: "description"}/
    %meta{content: "Шпаргалка, электронная шпаргалка, шпора, шпаргалки бесплатно, онлайн шпаргалка, мобильная шпаргалка", name: "keywords"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport", "user-scalable" => "no"}/
  %body
    = render 'layouts/header'
    .wrapper.col-xs-12.col-sm-12.col-md-12
      .home-page.center
        - if user_signed_in?
          .row.first-row
            .recent-user-pages.col-md-4.col-xs-12
              .block
                %h1 
                  Мои
                  %a{href: user_path(current_user)} страницы
                -if current_user.pages.any?  
                  - @recent_user_pages.each do |page|
                    .one-page
                      %h3
                        = link_to page.title, user_page_path(current_user, page)
                - else 
                  %h2 У вас еще нет страниц. 
                  %h2
                    = link_to 'Создать!', new_page_path
            .recent-favorites.col-md-offset-1.col-md-4.col-xs-12
              .block
                %h1
                  %a{href: favorites_path(current_user)} Избранное
                - if current_user.favorites.any?
                  - current_user.favorite_pages.each do |page|
                    .one-page
                      %h3
                        = link_to page.title, user_page_path(page.user, page)
                - else
                  %h2 Вы еще не добавили ни одной страницы в Избранное. 
            .recent-pages.col-md-4.col-xs-12
              .block
                %h1 
                  5-ка 
                  %a{href: pages_path} последних
                - @recent_pages.each do |page|
                  .one-page
                    %h3
                      = link_to page.title, user_page_path(page.user, page)
        - else
          .row.first-row 
            .auth.col-md-4.col-xs-12
              %h1 Вход
              = render 'layouts/auth'
            .registration.col-md-offset-1.col-md-4.col-xs-12              
              %h1 Регистрация
              = render 'layouts/test_sign_up'          
              = render 'layouts/registration'
            .recent-pages.col-md-4.col-xs-12
              %h1 
                5-ка 
                %a{href: pages_path} последних
              - @recent_pages.each do |page|
                .one-page
                  %h3
                    = link_to page.title, user_page_path(page.user, page)
        /
          %hr
          = render 'layouts/shares'
          %hr
        .bottom
          .hr-wrapper
            %hr
            %hr
            %hr
            %hr
          .row.description-row
            .description.first-description.col-md-4.col-xs-12
              shpora.me - это сервис для создания и поиска шпаргалок и других заметок с произвольным содержанием, доступных для любых мобильных и стационарных устройств. 
              .shpora-count 
                %h3.number
                  Шпаргалок на сайте:
                %h1.number  
                  = Page.count
            .description.col-md-4.col-xs-12
              Чтобы открыть созданную ранее страницу, не обязательно входить в систему, достаточно ввести в адресной строке браузера адрес, который состоит из имени пользователя и краткого названия, придуманного пользователем. Например:
              %h2 
                = link_to 'shpora.me/admin/tf', 'http://shpora.me/admin/tf'
            .description.col-md-4.col-xs-12
              Делитесь своими шпаргалками и добавляйте в избранные чужие. Сайт оптимизирован под мобильные телефоны с различным разрешением экрана и планшеты. Для удобства и экономии траффика есть ультралегкая версия - 
              %h2 
                = link_to 'm.shpora.me', 'http://m.shpora.me'
          //%hr .image
          .presentation
            = render 'layouts/tag_cloud'
            //= image_tag('http://img34.imageshack.us/img34/429/c4nf.png')
          =render 'layouts/footer'
    = render 'modals/menu'