!!!
%html
  %head
    %title Shpora
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport", "user-scalable" => "no"}/
  %body
    = render 'layouts/header'
    .main
      .col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3.col-xs-12
        .auth
          %h1 Вход
          = render 'layouts/auth'
      .presentation
        = image_tag('http://img34.imageshack.us/img34/429/c4nf.png')
      .col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3.col-xs-12
        .registration
          %h1 Регистрация
          = render 'layouts/registration'
    =render 'layouts/footer'