!!!
%html
  %head
    %title Shpora.me - твоя электронная шпаргалка
    %link{href: "http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic", rel: "stylesheet", type: "text/css"}/
    %script{src: "//vk.com/js/api/openapi.js?105", type: "text/javascript"}
    :javascript
      VK.init({apiId: 4014548, onlyWidgets: true});
    = csrf_meta_tags
    %meta{content: "443b66161fbe60fb", name: "yandex-verification"}/
    %meta{content: "shpora.me - это сервис для создания шпаргалок и других заметок с произвольным содержанием, доступных для любых мобильных и стационарных устройств.", name: "description"}/
    %meta{content: "Шпаргалка, электронная шпаргалка, шпора, шпаргалки бесплатно, онлайн шпаргалка, мобильная шпаргалка", name: "keywords"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport", "user-scalable" => "no"}/
    %meta{name: "turbolinks-cache-control", content: "no-cache"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    = render 'layouts/header'
    .wrapper.col-xs-12.col-sm-12.col-md-12
      .home-page.center
        - if user_signed_in?
          .row.first-row
            .recent-user-pages.col-md-4.col-xs-12
              .block
                %h1
                  Мои
                  %a{href: user_path(current_user)} страницы
                -if current_user.pages.any?
                  - @recent_user_pages.each do |page|
                    .one-page
                      %h3
                        = link_to page.title, user_page_path(current_user, page)
                - else
                  %h2 
                    = I18n.t 'messages.you_have_no_pages'
                  %h2
                    = link_to I18n.t('labels.create') + '!', new_page_path
              .torn-page.torn-page-left
            .recent-favorites.col-md-offset-1.col-md-4.col-xs-12
              .block
                %h1
                  %a{href: favorites_path(current_user)} Избранное
                - if current_user.favorites.any?
                  - current_user.favorite_pages.each do |page|
                    .one-page
                      %h3
                        = link_to page.title, user_page_path(page.user, page)
                - else
                  %h2 
                    = I18n.t 'messages.no_favorites' 
              .torn-page.torn-page-middle
            .recent-pages.col-md-4.col-xs-12
              .block
                %h1
                  5-ка
                  %a{href: pages_path} последних
                - @recent_pages.each do |page|
                  .one-page
                    %h3
                      = link_to page.title, user_page_path(page.user, page)
              .torn-page.torn-page-right
        - else
          .row.first-row
            .auth.col-md-4.col-xs-12
              %h1 Вход
              = render 'layouts/auth'
              .torn-page.torn-page-left
            .registration.col-md-offset-1.col-md-4.col-xs-12
              %h1 Регистрация
              = render 'layouts/test_sign_up'
              = render 'layouts/registration'
              .torn-page.torn-page-middle
            .recent-pages.col-md-4.col-xs-12
              %h1
                5-ка
                %a{href: pages_path} последних
              - @recent_pages.each do |page|
                .one-page
                  %h3
                    = link_to page.title, user_page_path(page.user, page)
              .torn-page.torn-page-right

        - if current_user
          .file-upload
            = hidden_field_tag :aws_url, upload_form.url
            = hidden_field_tag :aws_data, upload_form.fields.to_json

            .input-field.hidden_fields
              = file_field_tag :upload_files, multiple: true, name: 'upload_files[]', data: { username: current_user.username }
            #upload-preview
              .upload-cover
                #uploader-zone
                  .uploader-text
                    .desktop
                      %i.fa.fa-cloud-upload.fa-4x.m-b-lg
                      %p.h3.font-bold 
                        = I18n.t 'messages.move_your_files_here'
                      %small.text-muted 
                        = I18n.t 'messages.dropzone_description'
                      %p.support 
                        = I18n.t 'messages.supported_filetypes'
                    .mobile
                      %i.fa.fa-camera.fa-4x.m-b-lg
                #uploader-start.uploader-status._hidden
                  %span.fa.fa-cloud-upload.fa-4x._m-b-lg._m-t-xl
                  %p.text-muted Загрузка...
                  %p
                    %span.text-danger.font-bold 0%
                    %span.text-muted завершено
                #uploader-done._hidden.uploader-status
                  %i.fa.fa-check.fa-5x._m-t-xl
                  %p.lead.text-success Загрузка завершена
                  //%p= link_to 'Перейти к просмотру файлов', user_path(current_user)
                #uploader-fail._hidden.uploader-status
                  %i.fa.fa-times.fa-5x._m-t-xl
                  %p.lead.text-danger Ошибка

        .presentation.images
          = image_tag('/shpora-step-1.png', class: 'presentation-image editor');
          = image_tag('/iphone.png', class: 'presentation-image iphone');
          = image_tag('/macbook.png', class: 'presentation-image macbook');
        %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
        <!— shpora —>
        %ins.adsbygoogle{"data-ad-client" => "ca-pub-3834340625723750", "data-ad-format" => "auto", "data-ad-slot" => "7858822824", :style => "display:block"}
        :javascript
          (adsbygoogle = window.adsbygoogle || []).push({});
        .bottom
          .hr-wrapper
            %hr
            %hr
            %hr
            %hr
            %hr
            %hr
            %hr
            %hr
          .row.description-row
            .description.first-description.col-md-4.col-xs-12
              = I18n.t 'messages.description_1_1'
              .shpora-count
                %h3.number
                  = I18n.t 'messages.number_of_pages'
                %h1.number
                  = Page.count
            .description.col-md-4.col-xs-12
              = I18n.t 'messages.description_1_2'
              %h2
                = link_to 'shpora.me/admin/tf', 'http://shpora.me/admin/tf'
            .description.col-md-4.col-xs-12
              = I18n.t 'messages.description_1_3'
              %h2
                = link_to 'm.shpora.me', 'http://m.shpora.me'
          //%hr .image
          .presentation.dotted-border
            = render 'layouts/tag_cloud'
            //= image_tag('http://img34.imageshack.us/img34/429/c4nf.png')
          =render 'layouts/footer'
    = render 'modals/menu'
