!!!
%html
  %head
    %title Shpora.me - твоя электронная шпаргалка
    %link{href: "http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic", rel: "stylesheet", type: "text/css"}/
    %script{src: "//vk.com/js/api/openapi.js?105", type: "text/javascript"}
    :javascript
      VK.init({apiId: 4014548, onlyWidgets: true});
    = csrf_meta_tags
    %meta{content: "443b66161fbe60fb", name: "yandex-verification"}/
    %meta{content: "shpora.me - это сервис для создания шпаргалок и других заметок с произвольным содержанием, доступных для любых мобильных и стационарных устройств.", name: "description"}/
    %meta{content: "Шпаргалка, электронная шпаргалка, шпора, шпаргалки бесплатно, онлайн шпаргалка, мобильная шпаргалка", name: "keywords"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport", "user-scalable" => "no"}/
    %meta{name: "turbolinks-cache-control", content: "no-cache"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    :javascript
      !function(){function c(){var a=b.createElement("script");
      a.src='https://resend.io/widget.js',a.async=!0,a.onload=function(){__init('RAMzF0M1JQaTUxUStVWkE9PQ==')},
      b.getElementsByTagName("head")[0].appendChild(a)}var a=window,b=document;
      a.attachEvent?a.attachEvent("onload",c):a.addEventListener("load",c,!1)}();
  %body
    = render 'layouts/header'
    .wrapper.col-xs-12.col-sm-12.col-md-12
      .home-page.center
        - if user_signed_in?
          .row.first-row
            .top.sheet.recent-user-pages.col-md-4.col-xs-12
              .block
                %h1
                  Мои
                  %a{href: user_path(current_user)} страницы
                - if current_user.pages.any?
                  - @recent_user_pages.each do |page|
                    .one-page
                      %h3
                        = link_to page.title, user_page_path(current_user, page)
                - else
                  %h2
                    = t('messages.you_have_no_pages')
                  %h2
                    = link_to t('labels.create') + '!', new_page_path, data: { turbolinks: false }
              .torn-page.torn-page-left
            .top.sheet.recent-favorites.col-md-offset-1.col-md-4.col-xs-12
              .block
                %h1
                  %a{href: favorites_path(current_user)} Избранное
                - if current_user.favorites.any?
                  - current_user.favorite_pages.each do |page|
                    .one-page
                      %h3
                        = link_to page.title, user_page_path(page.user, page)
                - else
                  %h2
                    = t('messages.no_favorites')
              .torn-page.torn-page-middle
            .top.sheet.recent-pages.col-md-4.col-xs-12
              .block
                %h1
                  5-ка
                  %a{href: pages_path} последних
                - @recent_pages.each do |page|
                  .one-page
                    %h3
                      = link_to page.title, user_page_path(page.user, page)
              .torn-page.torn-page-right
        - else
          .row.first-row
            .top.sheet.with-form.auth.col-md-4.col-xs-12
              %h1= t('landing.authentication.login')
              = render 'layouts/auth'
              = render 'layouts/social_auth'
              .torn-page.torn-page-left
            .top.sheet.with-form.registration.col-md-offset-1.col-md-4.col-xs-12
              %h1= t('landing.authentication.signup')
              = render 'layouts/test_sign_up'
              = render 'layouts/registration'
              .torn-page.torn-page-middle
            .top.sheet.recent-pages.col-md-4.col-xs-12
              %h1
                5-ка
                %a{href: pages_path} последних
              - @recent_pages.each do |page|
                .one-page
                  %h3
                    = link_to page.title, user_page_path(page.user, page)
              .torn-page.torn-page-right
        = render 'application/uploader'
        %br
        #kittywrapper
        %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
        <!— shpora —>
        %ins.adsbygoogle{"data-ad-client" => "ca-pub-3834340625723750", "data-ad-format" => "auto", "data-ad-slot" => "7858822824", :style => "display:block"}
        :javascript
          (adsbygoogle = window.adsbygoogle || []).push({});
        / #bn_3b7bf114d0
        / %script{:src => "//recreativ.ru/rcode.3b7bf114d0.js", :type => "text/javascript"}

        .presentation.images
          = image_tag('/shpora-step-1.png', class: 'presentation-image editor');
          = image_tag('/iphone.png', class: 'presentation-image iphone');
          = image_tag('/macbook.png', class: 'presentation-image macbook');
        = render 'layouts/shares'
        = render 'layouts/best_preview'
        .bottom
          .hr-wrapper
            %hr
            %hr
            %hr
            %hr
            %hr
            %hr
            %hr
            %hr 
          .row.description-row
            .description.first-description.col-md-4.col-xs-12
              = t('messages.description_1_1')
              .shpora-count
                %h3.number
                  = t('messages.number_of_pages')
                %h1.number
                  = Page.count
            .description.col-md-4.col-xs-12
              = t('messages.description_1_2')
              %h2
                = link_to 'shpora.me/admin/tf', 'http://shpora.me/admin/tf'
            .description.col-md-4.col-xs-12
              = t('messages.description_1_3')
              %h2
                = link_to 'm.shpora.me', 'http://m.shpora.me'
          .presentation.dotted-border
            = render 'layouts/tag_cloud'
          = render 'layouts/footer'
    = render 'modals/menu'
